<h2 style="text-align:center">User Registration</h2>
  <br>
    <br>
    <form autocomplete="off" (ngSubmit)="registration()">
      <div class="d-grid gap-2 col-4 mx-auto">
        <label for="inputEmail4" class="form-label">Name</label>
        <input type="text" name="name"  class="form-control" [(ngModel)]="name" placeholder="Enter name" required>
      </div>
      <div class="d-grid gap-2 col-4 mx-auto">
        <label for="inputEmail4" class="form-label">Mobile Number</label>
        <input type="text" name="mobile"  class="form-control" [(ngModel)]="mobile" placeholder="Enter mobile number" required>
        
      </div>
    <div class="d-grid gap-2 col-4 mx-auto">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="text" name="email"  class="form-control" [(ngModel)]="email"(change)="onChangeEvent($event)" placeholder="email@example.com" required>
      <small style="color: red;">{{this.match_msg}}</small>
    </div>
      <div class="d-grid gap-2 col-4 mx-auto">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password" required>
      </div>
        <div class="d-grid gap-2 col-4 mx-auto">
          <label for="inputPassword" class="form-label">Confirm Password</label>
          <input type="password" name="confirmpassword" class="form-control" [(ngModel)]="confirmpassword" (ngModelChange)="confpass($event)" placeholder="Confirm Password" required>
          
    
          <small style="color: red;">{{pass_msg}}</small>
        </div>
        
        <br>
        <div class="d-grid gap-2 col-4 mx-auto">
      <button type="submit" class="btn btn-primary" [disabled]="!name ||!mobile ||!email ||!password ||!password_valid" (click)="registration()">Register</button>&nbsp; &nbsp;&nbsp;&nbsp; 
      &nbsp; &nbsp;&nbsp; &nbsp;
      <button type="submit" class="btn btn-primary" (click)="onLogout()">Cancel</button>
      <br>
      <br>
        </div>
      </form>
    