<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
  
<div class="card">
  <img class="card-img-top" src="/assets/new1.png" alt="Card image" style="
  width: 75%;
  margin-left: 17%;
">
  <div class="card-img-overlay" style="margin-left: 66%;margin-top: 16%;">
    <h3 class="card-title">Now TL Can Login</h3>
    <br>
    <div class="col-md-8">      
      <div class="row">
        <div class="d-grid gap-2 col-10 mx-auto">
          <label for="validationCustom01" class="form-label">Username</label>
          <input type="text" class="form-control is valid" id="validationCustom01" placeholder ="your mail">
          <div class="valid-feedback">
          Looks good!
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="d-grid gap-2 col-10 mx-auto">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="your password">
          </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="d-grid gap-2 mx-auto">
          <button type="submit" class="btn btn-primary"(click)="submit()">Login </button> &nbsp; &nbsp;&nbsp;&nbsp; 
          &nbsp; &nbsp;&nbsp; &nbsp;<button type="submit" class="btn btn-primary" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>




