<h1>Employee Lists</h1>

  <!-- <div class="row" style="margin-left: 92%;margin-top: -2%;">
  <div class="row">
    <div class="d-grid gap-2 mx-auto">
      <button type="back" class="btn btn-primary" (click)="Back()">Back </button> &nbsp; &nbsp;&nbsp;&nbsp; 
      </div>
  </div>
  </div> -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      
      <ng-container matColumnDef="employeename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
        <td mat-cell *matCellDef="let row"> {{row.employeename}} </td>
      </ng-container> 
  
      
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
        <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
           
     
      
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
        <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
      </ng-container>
      
     
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef > View </th>
        <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" type="button" (click)=onrowview(row.id)>View</button> </td>
      </ng-container>


      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef > Edit </th>
        <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" type="button" (click)=onrowedit(row.id) [disabled]="data[0].employee===true ? true:false">Edit</button> </td>
      </ng-container>
      

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef > Delete </th>
        <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" type="button" (click)=onrowdelete(row.id) [disabled]=" data[0].superadmin===false ? true:false">Delete</button> </td> 
      </ng-container>                                                                                                                         
                                                                                                                             <!-- //[disabled]="data[0].employee===true || data[0].admin===true ? true:false -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </div>

  
  
  
  

 
    