

<html>
    <head >
     <title>Employee</title>
     <link rel="stylesheet" href="app.component.css">
      </head>
      
      <body style="background-color : black;">
        <br>
        <h1 style="color:white; font-size:xxx-large ">ANTANO & HARINI</h1>
        <div>
      <ul class="nav justify-content-end" style="font-size:x-large">
    
        <li><a class="nav-item nav-link"routerLink="login">Login</a></li>
        <li><a class="nav-item nav-link"routerLink="registration">Registration</a></li>
        <li><a class="nav-item nav-link"routerLink="home">Home</a></li>
       </ul>
      </div>
    </body>
  </html>
  
  <router-outlet>
    
  </router-outlet>
  
  
  
  
  
  
 
  
  








