
<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
<mat-drawer-container >
       <mat-drawer mode="side" opened #sidenav>
      <mat-action-list style="font-size: x-large;">

        
                
        
        <ng-container *ngFor="let side of sidelist" >
          <a *ngIf="!side.hide" mat-list-item [routerLink]="side.url"> {{side.name}}</a>
        </ng-container>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Logout</a>
      </mat-action-list>
       </mat-drawer>
    
      <div style="height: 100vh;">
      <router-outlet></router-outlet>
      </div>
  </mat-drawer-container>

  